body{background-color: black;}

.center-title {
  text-align: center;   /* centers the text horizontally */
  font-size: 100px;      /* makes it big */
  margin-top: 50px;     /* adds space from the top */
}
@keyframes moveUp {
  from { transform: translateY(100px); opacity: 0; }  /* start lower and hidden */
  to { transform: translateY(0); opacity: 1; }        /* move up and show */
}

.animated-part {
  animation-name: moveUp;        /* use the animation */
  animation-duration: 2s;        /* takes 2 seconds */
  animation-fill-mode: forwards; /* stays visible after */
  text-align: center;
  font-size: 50px;
  color: ghostwhite;
}
#myImage {
  width: 100px;
  height: 100px;
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
}#arto {
  width: 500px;
  height: 500px;
  opacity: 0;
  animation:fadeIn forwards 3s;
  
  

}
@keyframes fadeIn {
  form { opacity:0 ;}
  to { opacity: 1;}
}#watch {
  width: 500px;
  height: 500px;
  opacity: 0;
  animation: fadeIn forwards 3s;

}
@keyframes fadeIn {
  from{ opacity: 0;}
  to { opacity: 1;}
}





